﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="about-section container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="~/images/about-image.png" alt="About Us Image" class="img-fluid" style="max-width: 70%;" />
        </div>
        <div class="col-md-6 col-sm-12">
            <h2>About Our Community</h2>
            <p>
                Our Hindu organisation is dedicated to sharing the rich and diverse heritage of Hinduism with the local community in Sutton Coldfield,
                located in the United Kingdom. We strive to raise awareness and promote understanding of Hindu culture and philosophy through various educational,
                cultural, and social initiatives...
            </p>
            <a href="#" class="btn-read-more">Read More</a>
        </div>
    </div>
</div>

<!-- New Section -->
<div class="about-section container">
    <div class="row">
        <div class="col-md-6 order-md-2 col-sm-12">
            <img src="~/images/about-image.png" alt="New About Us Image" class="img-fluid" style="max-width: 70%;" />
        </div>
        <div class="col-md-6 order-md-1 col-sm-12">
            <h2>Our Values</h2>
            <p>
                Our organization stands firm on the values of integrity, respect, and service to others. We aim to create a supportive environment where individuals
                can explore and practice these values in everyday life. Our Hindu organisation is dedicated to sharing the rich and diverse heritage of Hinduism with the local community in Sutton Coldfield,
                located in the United Kingdom...
            </p>
            <a href="#" class="btn-read-more">Read More</a>
        </div>
    </div>
</div>
<!-- Testimonials Section -->
<div class="testimonials">
    <h2>Our Testimonials</h2>
    <p>
        I have been attending Sutton Coldfield Hindu Association for several years now, and it has become an integral part of my spiritual and social life.
        The organization provides a welcoming and inclusive environment where I can explore and deepen my understanding of Hindu philosophy and culture,
        while also forging meaningful connections with like-minded individuals. I am grateful for the sense of community and support that this association provides,
        and I look forward to continuing my involvement for years to come.
    </p>
    <p class="quote-author">- Priya Patel</p>
    <div>
        <span class="arrow">&#8249;</span>
        <span class="arrow">&#8250;</span>
    </div>
</div>