html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



header {
    background-image: url('/images/home_banner.jpg');
    background-size: cover;
    background-position: center;
    padding: 10px;
    color: white;
    text-align: center;
    height: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align content to the bottom */
    padding-bottom: 50px; /* Add padding to create space from the bottom */
}

.hero-content {
    margin-top: auto; /* Push the content down */
}

.hero {
    margin-bottom: 20px;
}

.remaining-tickets {
    margin-top: 20px; /* Adjust to move further down */
}

.cta-button .btn-register {
    background-color: #f39c12;
    color: white;
    padding: 10px 20px;
    margin-top: 30px; /* Increase margin to push it down */
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

    .cta-button .btn-register:hover {
        background-color: #e67e22;
        color: white;
    }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 15px; /* Replace margin with gap for easier control */
    padding-left: 0;
}

    .menu li a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease; /* Smooth transition for hover effects */
    }

        .menu li a:hover {
            color: #f39c12; /* Highlight color on hover */
        }

.hero {
    margin-bottom: 20px; /* Reduced gap for better spacing */
    z-index: 2;
    position: relative;
}



/* Responsive Styles */
@media (max-width: 768px) {
    header {
        height: auto;
        padding: 20px 10px;
        text-align: center;
    }

    nav {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
    }

    .hero {
        margin-bottom: 15px;
    }
}
